<div class="sidebar-overlay" id="overlay"></div>

<div class="sidebar" id="sidebar">
  <div class="sidebar-brand"><i class="fas fa-wallet"></i> Smart Pocket</div>
  <div class="sidebar-nav">
    <a href="index.html" class="nav-item"
      ><i class="fas fa-home"></i> Dashboard</a
    >
    <a href="pemasukan.html" class="nav-item"
      ><i class="fas fa-arrow-down text-success"></i> Pemasukan</a
    >
    <a href="pengeluaran.html" class="nav-item"
      ><i class="fas fa-arrow-up text-danger"></i> Pengeluaran</a
    >
    <a href="riwayat.html" class="nav-item"
      ><i class="fas fa-history text-secondary"></i> Riwayat Transaksi</a
    >
    <a href="kategori.html" class="nav-item"
      ><i class="fas fa-tags text-warning"></i> Kategori</a
    >
    <a href="tabungan.html" class="nav-item"
      ><i class="fas fa-piggy-bank text-info"></i> Tabungan</a
    >
    <a href="rekomendasi.html" class="nav-item"
      ><i class="fas fa-chart-pie text-primary"></i> Rekomendasi Budget</a
    >
  </div>
</div>
